# Klipper config for cubby, based on a Fysetc Voron 2.4R2

# See docs/Config_Reference.md for a description of parameters.

### Includes
[include mainsail.cfg]
[include timelapse.cfg]
[include Klipper-Configs/voron24/fysetc_spider_v2_3_350mm.cfg]
[include Klipper-Configs/macros/macros_voron.cfg]
# [include Klipper-Configs/adxl/adxl.cfg]

[force_move]
enable_force_move: True

[mcu]
restart_method: command

##  You need to select 'Communication interface' to USB in 'make menuconfig'
##  when you compile Klipper for Spider
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
#serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_230032000851363131363530-if00
##	If you want to use the Raspberry uart0 to communicate with Spider, 
##  you need to select 'Communication interface' to 'Serial (on USART1 PA10/PA9)' 
##  in 'make menuconfig' when you compile klipper and set the serial as below
##--------------------------------------------------------------------
serial: /dev/ttyAMA0


[input_shaper]
# X Axis: Fitted shaper 'mzv' frequency = 52.6 Hz (vibrations = 0.4%, smoothing ~= 0.074)
#     To avoid too much smoothing with 'mzv', suggested max_accel <= 8200 mm/sec^2
# Y Axis: Fitted shaper 'mzv' frequency = 38.0 Hz (vibrations = 1.9%, smoothing ~= 0.141)
#    To avoid too much smoothing with 'mzv', suggested max_accel <= 4300 mm/sec^2
shaper_freq_x: 51.8
shaper_type_x: mzv
shaper_freq_y: 40.8
shaper_type_y: ei

[extruder]
pressure_advance: 0.037

[printer]
max_accel: 2950  # should not exceed the estimated max_accel for X and Y axes

[idle_timeout]
timeout: 2400

[firmware_retraction]
#retract_length: 0
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
#retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[exclude_object]

#--------------------------------------------------------------------

## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -1.560
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.756
#*# pid_ki = 1.652
#*# pid_kd = 108.360
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 42.555
#*# pid_ki = 1.351
#*# pid_kd = 335.119
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.210000, 0.102500, 0.205000, 0.180000, -0.065000
#*# 	  -0.285000, -0.050000, 0.047500, 0.015000, -0.215000
#*# 	  -0.320000, -0.097500, -0.040000, -0.080000, -0.257500
#*# 	  -0.257500, -0.027500, 0.032500, 0.005000, -0.170000
#*# 	  -0.215000, 0.030000, 0.142500, 0.112500, -0.045000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 6.0
#*# max_x = 330.0
#*# min_y = 6.0
#*# max_y = 330.0
