# https://docs.vorondesign.com/build/startup/

[force_move]
enable_force_move: True

[exclude_object]

[idle_timeout]
timeout: 2400
gcode:
    LED_OFF
    M84
    BED_FANS SPEED=0
    TURN_OFF_HEATERS
	CHAMBER_OFF
	#DELAYED_PRINTER_OFF

[firmware_retraction]
#retract_length: 0
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
#retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[display_status]

[pause_resume]

[verify_heater heater_bed]
check_gain_time:120

[save_variables]
filename: /home/user/printer_data/variables.cfg

[virtual_sdcard]
path: /home/user/printer_data/gcodes
on_error_gcode: CANCEL_PRINT