[extruder]
step_pin: PD5
dir_pin: PD6
enable_pin: !PD4
#rotation_distance: 21.319584749804484
rotation_distance: 47.088
max_extrude_only_distance: 250
#gear_ratio: 50:10				# Stealthburner
gear_ratio: 9:1
microsteps: 16
#full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
filament_diameter: 1.75
heater_pin: PB15
sensor_type: Generic 3950  #ATC Semitec 104GT-2
sensor_pin: PC0
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170

[tmc2209 extruder]
uart_pin: PD7
interpolate: false
#run_current: 0.5
run_current: 0.6
hold_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0

[probe]
pin: ^PA3
x_offset: 0
y_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
# samples_tolerance: 0.006
samples_tolerance: 0.008
samples_tolerance_retries: 3

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}