[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: PB4
sensor_type: Generic 3950 # NTC 100K MGB18-104F39050L32
sensor_pin: PB0 # TB Position
max_power: 0.6
min_temp: 0
max_temp: 120

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 6, 6
mesh_max: 330, 330
probe_count: 5, 5

[safe_z_home]
home_xy_position:175,175
speed:100
z_hop:10
   
[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
##	Probe points
points:
	50,25
	50,275
	300,275
	300,25

speed: 100
horizontal_move_z: 10
retries: 10
# retry_tolerance: 0.075
retry_tolerance: 0.040
max_adjust: 10