# https://e3d-online.zendesk.com/hc/en-us/articles/4406857421213-Start-and-End-G-code-for-faster-nozzle-changes
[gcode_macro SAFE_EXTRUDE]
description:
  "Safely extrude filament into meltzone"
gcode:
  {% set extrude = params.EXTRUDE|default(printer["gcode_macro printer_settings"].safe_extrude)|float %}
  {% if printer.extruder.can_extrude|lower == 'true' %}
	G91
	{ action_respond_info("Extruding to meltzone: %f " % extrude|float) }
    G1 E{extrude} F600 				# Extrude filament into meltzone
	G90
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}