# https://e3d-online.zendesk.com/hc/en-us/articles/4406857421213-Start-and-End-G-code-for-faster-nozzle-changes
[gcode_macro SAFE_EXTRUDE]
description:
  "Safely extrude filament into meltzone"
gcode:
  {% set extrude = printer.save_variables.variables.safe_filament_dist|default("18")|int %}
  {% if printer.extruder.can_extrude|lower == 'true' %}
	G91
    G1 E{extrude} F800 				# Extrude filament into meltzone
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}