[filament_switch_sensor switch_sensor]
switch_pin: ^PG15
pause_on_runout: False
runout_gcode:
  M117 Filament switch runout
  { action_respond_info("M117 Filament switch runout") }
  SET_DISPLAY_TEXT MSG="Fil sw runout"
  PAUSE
insert_gcode:
  M117 Filament switch inserted

[filament_motion_sensor motion_sensor]
switch_pin: ^PG14
detection_length: 3.25 # accuracy of motion sensor 2.88mm
extruder: extruder
pause_on_runout: False
runout_gcode:
  #PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament motion runout
  { action_respond_info('Filament motion runout') }

insert_gcode:
  M117 Filament motion inserted
  { action_respond_info('Filament motion inserted') }
  
[delayed_gcode ENABLE_MOTION_SENSOR]
gcode:
  { action_respond_info('Enabling Filament motion (ENABLE_MOTION_SENSOR)') }
  SET_FILAMENT_SENSOR SENSOR=motion_sensor ENABLE=1
  
  
[filament_switch_sensor switch_sensor2]
switch_pin: ^PB9
pause_on_runout: False
runout_gcode:
  M117 Filament switch runout
  { action_respond_info("M117 Filament switch runout") }
  SET_DISPLAY_TEXT MSG="Fil sw2 runout"
  PAUSE
insert_gcode:
  M117 Filament switch inserted